.form-check-box input {
    width: auto;
    padding: 10px;
    margin-bottom: 0;
}

.form-check-box label {
  line-height: 30px;
  padding-left: 7px;
}

.comment-form{
  h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.login-text{
  h4{
    font-size: 20px;
    
  }

}