.main-menu{
     ul{
  
          @media #{$xm}{
               margin-bottom: 20px;
          }
          li{
               display: inline-block;
               @media #{$xm}{
                    display: block;
               }
               a{
                    color: $primaryColor;
                    font-family: $primaryFont;
                    text-transform: capitalize;
                    font-size: 19px;
                    padding: 12px 25px;
                    @include transition (.3s);
                    &:hover{
                         color: $secondaryColor;
                         @include transition (.3s);
                    }
                    @media #{$xm}{
                         padding: 7px 0;
                         display: block;
                    
                    }
                    @media #{$lg}{
                         font-size: 16px;
                         padding: 12px 15px;
                    }
               }
          }
     }
}

 
 .menu-elements {
     display: flex;
     align-items: center;
     justify-content: end;
     text-align: right;
     @media #{$xm}{
          position: fixed;
          width: 80%;
          background: #fff;
          right: -100%;
          top: 0;
          height: 100%;
          box-shadow: 0 0 24px #ddd;
          padding: 30px;
          text-align: left;
          display: block;
          @include transition(.3s);
          z-index: 9;
          
     }

     &.acitve{
          right:0
     }
 }


 .menu-close-btn {
     cursor: pointer;
     font-size: 20px;
     width: 40px;
     height: 40px;
     border: 1px solid $secondaryColor;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     position: absolute;
     right: 30px;
     top: 40px;
 }
 .mobile-menu{
      display: flex;
      justify-content: end;
      .mobile-menu-wrap {
          display: inline-block;
          cursor: pointer;
          padding: 3px 5px;
          border: 2px solid $primaryColor;
          border-radius: 6px;
          span.menu-line {
               height: 2px;
               width: 30px;
               background: $primaryColor;
               display: block;
               margin: 6px 0;
           }
      }
 }

 .header-white{
     .mobile-menu{
          .mobile-menu-wrap {
              border: 2px solid $whiteColor;
              span.menu-line {
                   background: $whiteColor;
               }
          }
     }
 }
 
 li.dropdown {
     position: relative;
     z-index: 2;
     ul.dropdown-parrent {
          position: absolute;
          left: 0;
          top: 45px;
          text-align: left;
          width: 200px;
          box-shadow: 0 0 24px #ddd;
          padding: 20px;
          border-radius: 6px;
          transform: translateY(15px);
          transition: all .3s;
          visibility: hidden;
          opacity: 0;
          z-index: 999;
          background: #fff;
      }
     &:hover{
          ul.dropdown-parrent{
          transform: translateY(0);
          transition: all .3s;
          visibility: visible;
          opacity: 1;
          }
     }
 }
 

 ul.dropdown-parrent li {
     width: 100%;
     a {
          padding: 7px;
          display: block;
          width: 100%;
          i {
               font-size: 14px;
               float: right;
               line-height: 26px;
               transition: all .3s;
           }
      }
 }
 
 ul.has-dropdown-childern {
     position: absolute;
     left: 100%;
     top: 0;
     width: 180px;
     background: white;
     box-shadow: 0 0 24px #ddd;
     padding: 20px;
     border-radius: 6px;
 }

 
 li.has-parrent-dropdown {
     position: relative;
     z-index: 2;
     ul.has-dropdown-childern {
          position: absolute;
          left: 100%;
          top: 0;
          width: 180px;
          background: white;
          box-shadow: 0 0 24px #ddd;
          padding: 20px;
          border-radius: 6px;
          transition: all .3s;
          visibility: hidden;
          opacity: 0;
          transform: translateY(15px);
          z-index: 999;
      }
      &:hover{
          > a i {
               transform: rotate(45deg);
               transition: all .3s;
         }
          > ul.has-dropdown-childern {
               transition: all .3s;
               visibility: visible;
               opacity: 1;
               transform: translateY(0);
          }
      }
 }
 

 .mega-menu-list {
     position: absolute;
     background: #fff;
     left: 0;
     width: 80%;
     padding: 40px;
     left: 10%;
     top: 90px;
     border-radius: 6px;
     box-shadow: 0 0 24px #ddd;
     transform: translateY(15px);
     transition: all .3s;
     visibility: hidden;
     opacity: 0;
 }

 .mega-menu{
     &:hover{
          .mega-menu-list{
               transition: all .3s;
               transform: translateY(0);
               visibility: visible;
               opacity: 1;
          }
     }
 }
 .single-mega {
     text-align: left;
     padding-left: 40px;
     h3 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 10px;
      }
      li {
          display: block !important;
          a {
               display: block;
               padding: 6px 0 !important;
           }
      }
      
 }
 

 @media #{$xm} {

     .header_sticky {
          .menu-elements.acitve {
               height: 500px;
               overflow-y: scroll;
           }
     }

     li.dropdown,  
     li.mega-menu {

               position: relative;
               z-index: 2;


               span.dropdown-plus {
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    line-height: 30px;
                    top: 6px;
                    right: 0;
                    z-index: 3;
                }

     }
    

     li.dropdown ul.dropdown-parrent {
          position: relative;
          top: 0;
          display: none;
     }

     .dropdown.active ul.dropdown-parrent{
          visibility: visible;
          display: block;
          opacity: 1;
          width: 100%;

     }


     li.has-parrent-dropdown ul.has-dropdown-childern{
          position: relative;
          opacity: 0;
          top: 0;
          left: 0;
          display: none;
     }

     li.has-parrent-dropdown.active ul.has-dropdown-childern{
          position: relative;
          opacity: 1;
          top: 0;
          left: 0;
          visibility: visible;
          opacity: 1;
          display: block;
     }

     li.dropdown.active span.dropdown-plus, 
     li.mega-menu.active span.dropdown-plus{
          transition: all .3s;
          transform: rotate(45deg);
     }

     .mega-menu:hover .mega-menu-list {
     -webkit-transition: all .3s;
     transition: all .3s;
     -webkit-transform: translateY(0);
     transform: translateY(0);
     visibility: visible;
     opacity: 1;
     }


     .mega-menu-list{
          display: none;
          visibility: hidden;
          opacity: 0;
          left: 0;
          top: 0;
          transition: all .3s;
          .single-mega {
               padding-left: 0;
          }
          .border-right{
               border: none;
          }
     }
     .mega-menu-list.active{
          position: relative;
          left: 0;
          width: 100%;
          padding: 30px;
          left: 0;
          top: 0;
          transition: all .3s;
          visibility: visible;
          opacity: 1;
          display: block;
          
     }
     ul.menu-list {
          max-height: 400px;
          overflow-y: scroll;
     }

}


//Header 2
.header2{
     .menu-elements {
          text-align: left;
          justify-content: space-between;
     }

     .main-menu{
          ul{
               li{
                    a{
                         &:hover{
                              color: $color11;
                         }
                    }
               }
          }
     }

 }
 

 //Header 3
.header3{

     .main-menu{
          ul{
               li{
                    a{
                         &:hover{
                              color: $color12;
                         }
                    }
               }
          }
     }

 }
 
  //Header 5
.header5{

     .main-menu{
          ul{
               li{
                    a{
                         &:hover{
                              color: $color14;
                         }
                    }
               }
          }
     }


 }


  //Header 6
.header6{

     .main-menu{
          ul{
               li{
                    a{
                         &:hover{
                              color: $color16;
                         }
                    }
               }
          }
     }


 }